.chart-symbol { /* solid circle */

}

.default-color0.chart-symbol {
    -fx-background-radius: 3px;
    -fx-padding: 3px;
    -fx-background-color: orange
}

.default-color1.chart-symbol {
    -fx-background-radius: 3px;
    -fx-padding: 3px;
    -fx-background-color: red
}

/* .default-color2.chart-symbol { -fx-background-color: #dda0dd, #d8bfd8; } */